.status-pending {
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status-confirmed {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.status-cancelled {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}