/* Layout Styles */
.layout .right-main .top-nav {
    background-color: #ECB159;
    border-bottom: 1px solid #33343a;
    border-color: rgba(51, 52, 58, 0.5);
    height: 80px;
    left: 220px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 15;
}

.layout .right-main .top-nav .inside {
    align-items: center;
    display: flex;
    justify-content: space-between; /* Add this line */
    height: 75px;
    padding: 15px 15px 15px 10px;
}

.layout .right-main .top-nav .inside .left-section {
    display: flex;
    align-items: center;
}

.layout .right-main .top-nav .inside .right-section {
    display: flex;
    align-items: center;
    margin-left: auto; /* Add this line */
}

.layout .left-menu {
    background-color: #ffffff;
    border-right: 1px solid #000000;
    border-color: rgba(51, 52, 58, 0.5);
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 220px;
    z-index: 10;
    overflow: visible;
    text-align: center;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    
}

.layout .left-menu .logo .img {
    height: 80px;
    image-resolution: from-image;
    
}

.layout .left-menu .left-menu-content .nav a {
    color: hsla(0, 0%, 100%, 0.75);
    display: inline-block;
    font-size: 16px;
    padding: 10px 30px;
    width: 100%;
    transition: background-color 50ms;
}

.layout .left-menu .left-menu-content .nav a:hover {
    background-color: hsla(207, 100%, 72%, 0.75);
}

.layout .left-menu .left-menu-content .nav .nav-link {
    color: hsla(0, 0%, 0%, 0.75);
}

.layout .left-menu .left-menu-content .nav [aria-current] {
    background-color: #84f5ff;
}

.layout .left-menu .left-menu-content .nav [aria-current]:hover {
    background-color: #00d9ff;
}

.left-menu .left-menu-content .nav a span {
    padding: 0;
    transition: color 0.5s;
}

.left-menu .left-menu-content .nav a span:hover {
    color: hsla(273, 100%, 50%, 0.75);
    transition: color 20ms;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

a, a:hover {
    transition: color 0.5s;
}

a {
    color: #000000;
    text-decoration: none;
}

*, :after, :before {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: pointer;
}

/* Top Nav Styles */
.top-nav h1 {
    margin: 0;
}

.icons {
    display: flex;
    align-items: center;
}

.shopping-cart-icon, .profile-icon {
    margin-left: 20px;
}

.profile-icon {
    position: right;
}

/* Sub Menu Styles */
.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 1px 10px 10px 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}


.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px 0;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}


.sub-menu-link:hover {
    background-color: #69bbff;
    color: #ffffff;
}

.sub-menu-link:hover img {
    filter: brightness(0) invert(1); 
}

.sub-menu-link p {
    margin: 0;
}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info h2 {
    font-weight: 200;
    height: 20px;
}

.user-info h3 {
    font-weight: 200;
    opacity: 50%;
    color: gray;
    margin-left: 10px;
}

.user-info img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 10px 0;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

.profile-image {
    max-width: 100%;
    max-height: 100%;
}

.profile-image img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/* Button Styles */
.login-button, .register-button, .logout-button {
    padding: 8px 15px;
    border: none;
    background-color: #358C1B;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 5px;
}

.layout .right-main .top-nav .inside .login-button {
    position: static;
    margin-left: 50px;
    margin-right: auto;
}

.btn.btn-primary {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #B67352;
    border-color: #000000;
    color: #ffffff;
    font-weight: 500;
    border-radius: 8px;
}

.btn {
    border-radius: 0;
    padding: 12px 18px;
}